@page
@model IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About Websoft</h1>
    <p>This exercise is about buidling applications using C# and ASP.net</p>
</div>
