/*
 * Comments are written as C++ style. 
 */
html {
    overflow-y: scroll;
}

body {
    margin: 8px auto;
    background: #fff;
    width: 700px;
}

.duck{
width: 128px;
height: 128px;
border: 1px solid black;
background-image: url("../img/duck.png");
background-size: 128px;
position: absolute;
top: 100px;
left: 40px;

}

body {
    padding: 20px;
  }
  button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }
  button:hover {
    background: lightsalmon;
  }

  .flag {
    position: relative;
    width: 300px;
    height: 200px;
}

.elfenbenskusten {
    background-color: #fff;
}

.elfenbenskusten .part1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 200px;
    background-color: #f77f00;
}

.elfenbenskusten .part2 {
    position: absolute;
    top: 0;
    left: 200px;
    width: 100px;
    height: 200px;
    background-color: #009e60;
}

.malay {
  display: grid;
  grid-template-rows: 4fr 3fr;
  grid-template-columns: 50% 50%;
  background-color: var(--white);
  border: 2px solid var(--black);
  width: 600px;
  height: 300px;
}


.malay .top-left {
  background-color: var(--blue);
}

.malay .bottom {
  grid-column: span 2;
}

.malay .top-right { 
  background: repeating-linear-gradient(
    0deg, 
    var(--red), 
    var(--white) 0 12.5%, /* 12.5% = 100% divide by 8 stripes */
    var(--red) 12.5% 25%
  ); 
}

.malay .bottom { 
  background: repeating-linear-gradient(
    0deg, 
    var(--red), 
    var(--white) 0 16.7%, /* 16.7% = 100% divide by 6 stripes */
    var(--red) 16.7% 33.3%
  ); 
}

.malay .moon {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: -4px;
  border-radius: 50%;
  box-shadow: inset 15px 0px 0 7px var(--yellow);
}

.malay .star {
  position: relative;
  width: 0;
  height: 0;
  margin-top: -50px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 50px solid var(--yellow);
}

.star:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid var(--yellow);
  left: -10px;
  top: 50px;
}

.star-container:nth-child(2) {
  transform: rotate(calc(180deg / 7));
}

.star-container:nth-child(3) {
  transform: rotate(calc(180deg / 7 * 2)); 
}

.star-container:nth-child(4) {
  transform: rotate(calc(180deg / 7 * 3));
}

.star-container:nth-child(5) {
  transform: rotate(calc(180deg / 7 * 4));
}

.star-container:nth-child(6) {
  transform: rotate(calc(180deg / 7 * 5));
}

.star-container:nth-child(7) {
  transform: rotate(calc(180deg / 7 * 6));
}
